
<div  style= "margin-top : 150px" class="container">
	<div class="row">
		
        <div class="col-md-12">
        <h4>Listar estabelecimentos</h4>
        <div class="table-responsive">
        
                
<table id="mytable" class="table table-bordred table-striped">
                   
  <thead align="center">
    <th style="text-align:center">CNES</th>
    <th style="text-align:center">Nome</th>
    <th style="text-align:center">Descrição</th>
    <th style="text-align:center">Editar</th>
    <th style="text-align:center">Apagar</th>
  </thead>
  <tbody id = "tbody" align="center"> 
  </tbody>
        
</table>

<div class="clearfix"></div>
                
            </div>
            
        </div>
	</div>
</div>


<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title custom_align" id="Heading">Editar estabelecimento</h4>
      </div>
          <div class="modal-body">
            <form class="form-horizontal" role="form">
        <fieldset>

                    <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">CNES</label>
            <div class="col-sm-10">
              <input id = "CNES" type="text" placeholder="Registro do estabelecimento" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Nome</label>
            <div class="col-sm-10">
              <input id = "Nome" type="text" placeholder="Nome do estabelecimento" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Descrição</label>
            <div class="col-sm-10">
              <input id = "Descricao" type="text" placeholder="Informação adicional" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Rua</label>
            <div class="col-sm-10">
              <input id = "Rua" type="text" placeholder="Endereço da clinica" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Número</label>
            <div class="col-sm-10">
              <input id = "Numero" type="text" placeholder="Número" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Bairro</label>
            <div class="col-sm-10">
              <input id = "Bairro" type="text" placeholder="Bairro" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Cidade</label>
            <div class="col-sm-10">
              <input id = "Cidade" type="text" placeholder="Cidade" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Estado</label>
            <div class="col-sm-10">
              <input id = "Estado" type="text" placeholder="Estado" class="form-control">
            </div>
          </div>

        </fieldset>
      </form>
      </div>
          <div class="modal-footer ">
        <button id="btn-update" type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Atualizar</button>
      </div>
        </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
    </div>
    
    
    
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title custom_align" id="Heading">Deletar estabelecimento</h4>
      </div>
          <div class="modal-body">
       
       <div class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> Tem certeza de que deseja excluir este estabelecimento?</div>
       
      </div>
        <div class="modal-footer ">
        <button id="btn-confirm" type="button" class="btn btn-warning" ><span class="glyphicon glyphicon-ok-sign"></span> Sim</button>
        <button type="button" class="btn btn-warning" ><span class="glyphicon glyphicon-remove"></span> Não</button>
      </div>
        </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
</div>


<div class="modal fade" id="removeSucess" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
          <div class="modal-body">
       
       <div class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> Estabelecimento removido com sucesso</div>
        </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
</div>



<div class="modal fade" id="removeFail" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
          <div class="modal-body">
       
       <div class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> Desculpa algum erro ocorreu</div>
       
      </div>
        
    </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
</div>