<div id = 'quemsomos' class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>{{title}}<br/>{{subtitle}}</h1>
				<h3>{{describe}}</h3>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-3">
				<img class="img-circle" src= {{picture_one}} width="140" alt="">
				<h4>{{developer_one}}</h4>
				<p>{{describe_developer_one}}</p>
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
			</div><!--/col-lg-3 -->

			<div class="col-lg-3">
				<img class="img-circle" src= {{picture_two}} width="140" alt="">
				<h4>{{developer_two}}</h4>
				<p>{{describe_developer_two}}</p>
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
			</div><!--/col-lg-3 -->

			<div class="col-lg-3">
				<img class="img-circle" src= {{picture_three}} width="140" alt="">
				<h4>{{developer_three}}</h4>
				<p>{{describe_developer_three}}</p>
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
			</div><!--/col-lg-3 -->

			<div class="col-lg-3">
				<img class="img-circle" src= {{picture_for}} width="140" alt="">
				<h4>{{developer_for}}</h4>
				<p>{{describe_developer_for}}</p>
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
			</div><!--/col-lg-3 -->
		</div><!-- /row -->
	</div><!-- /container -->