<div id = 'quemsomos' class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>{{title}}<br/>{{subtitle}}</h1>
				<h3>{{describe}}</h3>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-3">
				<img class="img-circle" src= {{picture_one}} width="140" alt="">
				<h4>{{developer_one}}</h4>
				<p>{{describe_developer_one}}</p>
				<p><a href={{email_developer_one}}><i class="glyphicon glyphicon-send"></i></a> 
				<a href={{facebook_developer_one}} target="_blank"><i class="glyphicon glyphicon-globe"></i></a></p>			</div><!--/col-lg-3 -->

			<div class="col-lg-3">
				<img class="img-circle" src= {{picture_two}} width="140" alt="">
				<h4>{{developer_two}}</h4>
				<p>{{describe_developer_two}}</p>
				<p><a href={{email_developer_two}}><i class="glyphicon glyphicon-send"></i></a> 
				<a href={{facebook_developer_two}} target="_blank"><i class="glyphicon glyphicon-globe"></i></a></p>	
			</div><!--/col-lg-3 -->

			<div class="col-lg-3">
				<img class="img-circle" src= {{picture_three}} width="140" alt="">
				<h4>{{developer_three}}</h4>
				<p>{{describe_developer_three}}</p>
				<p><a href={{email_developer_three}}><i class="glyphicon glyphicon-send"></i></a> 
				<a href={{facebook_developer_three}} target="_blank"><i class="glyphicon glyphicon-globe"></i></a></p>
			</div><!--/col-lg-3 -->

			<div class="col-lg-3">
				<img class="img-circle" src= {{picture_four}} width="140" alt="">
				<h4>{{developer_four}}</h4>
				<p>{{describe_developer_four}}</p>
				<p><a href={{email_developer_four}}><i class="glyphicon glyphicon-send"></i></a> 
				<a href={{facebook_developer_four}} target="_blank"><i class="glyphicon glyphicon-globe"></i></a></p>	
			</div><!--/col-lg-3 -->

		</div><!-- /row -->
	</div><!-- /container -->