<div class="container">
      <header class="clearfix">
        <span>Manager<span class="bp-icon bp-icon-about" data-content="Aqui você pode cadastrar, editar e remover pacientes, médicos, entre outros."></span></span>
        <h1>FilaZero</h1>
      </header> 
      <div class="main centered">
        <nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
          <div class="cbp-hsinner">
            <ul class="cbp-hsmenu">
              <li>
                <a href="#manager"> Pacientes </a>
                <ul class="cbp-hssubmenu">
                  <li><a id = "register-clients" href="#manager/cadastro/cliente"><img src="bower_components/manager/images/plus.png" alt="img01"/><span>Cadastrar novo paciente</span></a></li>
                  <li><a id = "list-clients" href="#manager/lista/cliente"><img src="bower_components/manager/images/menu.png" alt="img02"/><span>Listar pacientes</span></a></li>
                </ul>
              </li>
              <li>
                <a href="#manager"> Médicos </a>
                <ul class="cbp-hssubmenu">
                  <li><a id = "register-doctors" href="#manager/cadastro/medico"><img src="bower_components/manager/images/plus.png" alt="img01"/><span>Cadastrar novo médico</span></a></li>
                  <li><a id = "list-doctors" href="#manager/lista/medico"><img src="bower_components/manager/images/menu.png" alt="img02"/><span>Listar médicos</span></a></li>
                </ul>
              </li>
              <li><a href="http://localhost:9999">Sair</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <script>
      var menu = new cbpHorizontalSlideOutMenu( document.getElementById( 'cbp-hsmenu-wrapper'));
    </script>