<div class="container">
      <header class="clearfix">
        <span>Manager <span class="bp-icon bp-icon-about" data-content="Aqui você pode cadastrar, editar e remover pacientes, médicos, entre outros."></span></span>
        <h1>FilaZero</h1>
        <!--
        <nav>
          <a href="http://tympanus.net/Blueprints/VerticalTimeline/" class="bp-icon bp-icon-prev" data-info="previous Blueprint"><span>Previous Blueprint</span></a>
          <a href="http://tympanus.net/Blueprints/ProductGridLayout/" class="bp-icon bp-icon-next" data-info="next Blueprint"><span>Next Blueprint</span></a>
          <a href="http://tympanus.net/codrops/?p=15092" class="bp-icon bp-icon-drop" data-info="back to the Codrops article"><span>back to the Codrops article</span></a>
          <a href="http://tympanus.net/codrops/category/blueprints/" class="bp-icon bp-icon-archive" data-info="Blueprints archive"><span>Go to the archive</span></a>
        </nav>
        -->

      </header> 
      <div class="main centered">
        <nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
          <div class="cbp-hsinner">
            <ul class="cbp-hsmenu">
              <li>
                <a href="#">Pacientes</a>
                <ul class="cbp-hssubmenu">
                  <li><a href="#"><img src="images/plus.png" alt="img01"/><span>Cadastrar novo paciente</span></a></li>
                  <li><a href="#"><img src="images/menu.png" alt="img02"/><span>Listar todos os pacientes</span></a></li>
                </ul>
              </li>
              <li><a href="http://localhost:8080">Sair</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <script src="js2/cbpHorizontalSlideOutMenu.min.js"></script>
    <script>
      var menu = new cbpHorizontalSlideOutMenu( document.getElementById( 'cbp-hsmenu-wrapper' ) );
    </script>