<div id = "home" class="container">
	</br>
	</br>
	<div class="row mt centered">
		<div class="col-lg-6 col-lg-offset-3">
			<h1>{{title_main}}</h1><h2>{{subtitle_main}}</h2>
			<h3>{{describe_main}}</h3>
		</div>
	</div><!-- /row -->
		
	<div class="row mt centered">
		<div class="col-lg-4">
			<img src={{img_one}} width="180" alt="">
			<h4>{{title_one}}</h4>
			<p>{{describe_one}}</p>
		</div><!--/col-lg-4 -->

		<div class="col-lg-4">
			<img src={{img_two}} width="180" alt="">
			<h4>{{title_two}}</h4>
			<p>{{describe_two}}</p>

		</div><!--/col-lg-4 -->

		<div class="col-lg-4">
			<img src={{img_three}} width="180" alt="">
			<h4>{{title_three}}</h4>
			<p>{{describe_three}}</p>

		</div><!--/col-lg-4 -->
	</div><!-- /row -->
</div><!-- /container -->