
<div  style= "margin-top : 150px" class="container">
	<div class="row">
		
        <div class="col-md-12">
        <h4>Listar pacientes</h4>
        <div class="table-responsive">
        
                
<table id="mytable" class="table table-bordred table-striped">
                   
  <thead align="center">
    <th style="text-align:center">CPF</th>
    <th style="text-align:center">Nome</th>
    <th style="text-align:center">Sexo</th>
    <th style="text-align:center">Email</th>
    <th style="text-align:center">Telefone</th>
    <th style="text-align:center">Editar</th>
    <th style="text-align:center">Apagar</th>
  </thead>
  <tbody id = "tbody" align="center"> 
  </tbody>
        
</table>

<div class="clearfix"></div>
                
            </div>
            
        </div>
	</div>
</div>


<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title custom_align" id="Heading">Editar paciente</h4>
      </div>
          <div class="modal-body">
          <div class="form-group">
        <input class="form-control " type="text" placeholder="Mohsin">
        </div>
        <div class="form-group">
        
        <input class="form-control " type="text" placeholder="Irshad">
        </div>
        <div class="form-group">
        <textarea rows="2" class="form-control" placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>
    
        
        </div>
      </div>
          <div class="modal-footer ">
        <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Atualizar</button>
      </div>
        </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
    </div>
    
    
    
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title custom_align" id="Heading">Deletar paciente</h4>
      </div>
          <div class="modal-body">
       
       <div class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> Tem certeza de que deseja excluir este paciente?</div>
       
      </div>
        <div class="modal-footer ">
        <button type="button" class="btn btn-warning" ><span class="glyphicon glyphicon-ok-sign"></span> Sim</button>
        <button type="button" class="btn btn-warning" ><span class="glyphicon glyphicon-remove"></span> Não</button>
      </div>
        </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
</div>